{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": 0,
    "import": 0,
    "no-unused-vars": 1,
    "arrow-body-style": [2, "as-needed"]
  }
}
