html, body {
  background-color: #FFE874;
  font-family: 'Exo', sans-serif;
  font-weight: 300;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 4.0rem;
  margin: 0.2rem 0;
  font-weight: 700;
  animation: fadeInLeft 2.5s;
}

button, input, textarea {
  font-family: 'Exo', sans-serif;
  font-weight: 300;
  background-color: #FFE874;
  color: #333331;
  border: 1px solid #333331;
  padding: 0.5rem;
  font-size: 1.0rem;
  transition: all 0.2s ease;
  z-index: 1;
}

button.inverse {
  background-color: #333331;
  color: #FFE874;
}

a, a:hover, a:active, a:visited {
  color: #333331;
}

label {
  font-size: 0.8rem;
  color: #F05533;
  transition: all 0.8s ease;
  opacity: 0;
  flex: 1 0 100%;
  margin-bottom: 0.5rem;
  z-index: 1;
}

form {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1.5rem;
  z-index: 1;
}

form input {
  flex: 1 1;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
}

.cover {
  padding: 2.0rem;
  background-color: #333331;
  color: #FFE874;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  order: 1;
}

.quote {
  color: #111;
  animation: quoteFade 6.5s linear;
  z-index: -99;
}

.cover h1 {
  order: 2;
}

.content-row {
  display: flex;
  flex: 1 0;
  flex-flow: row nowrap;
  order: 2;
  justify-content: center;
}

.content {
  padding: 2.0rem;
  // background-color: #FFE874;
  display: flex;
  // flex-basis: 500px;
  flex: 0 0 500px;
  flex-flow: column nowrap;
  animation: fadeInDown 2.5s;
}

footer {
  order: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 0.8rem;
  color: #DECA63;
  animation: fadeIn 4.5s;
}
footer a, a:hover, a:active, a:visited {
  color: #DECA63;
}

.url {
  margin-top: 0.5rem;
  text-align: center;
}

.grey {
  color: #C0c0c0;
}

@keyframes fadeInDown {
  from {
    position: relative;
    top: -1.5rem;
    opacity: 0;
  }
  to {
    position: relative;
    top: 0;
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  from {
    position: relative;
    left: -4.0rem;
    opacity: 0;
  }
  to {
    position: relative;
    left: 0;
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes quoteFade {
  0% {
    position: relative;
    top: 0rem;
    opacity: 0;
    transform: scale(0.6, 0.6);
  }
  50% {
    position: relative;
    top: 0rem;
    opacity: 1;
    transform: scale(0.95, 0.95);
  }
  75% {
    position: relative;
    top: 0.5rem;
    opacity: .75;
    transform: scale(1.0, 1.0);
  }
  100% {
    position: relative;
    top: 1.0rem;
    opacity: 0;
    transform: scale(0.95, 0.95);
  }
}
